<footer>
    <div class="footer">
        <span class="footer-gmail">
            <p class="mb-0">© <%= new Date().getFullYear() %> Airbnb Clone By Pruthvi Patil</p>
        </span>
        <span>
            <a href="mailto:pruthpatil1708@gmail.com" class="text-decoration-none" style="color: black;">
                 📧pruthpatil1708@gmail.com
            </a>
        </span>
    </div>
</footer>